<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>


    <div class="movie">
        <h2><u>Recommendations:</u></h2>
        <p>Showing results for: {{ search_name }}</p>
        <table class="table" align="center">
            <tr>
                <th scope="col">Movie Title</th>
                <th scope="col">Release Date</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>{{ movie_names[0] }}</td>
                    <td>{{ movie_date[0] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[1] }}</td>
                    <td>{{ movie_date[1] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[2] }}</td>
                    <td>{{ movie_date[2] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[3] }}</td>
                    <td>{{ movie_date[3] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[4] }}</td>
                    <td>{{ movie_date[4] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[5] }}</td>
                    <td>{{ movie_date[5] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[6] }}</td>
                    <td>{{ movie_date[6] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[7] }}</td>
                    <td>{{ movie_date[7] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[8] }}</td>
                    <td>{{ movie_date[8] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[9] }}</td>
                    <td>{{ movie_date[9] }}</td>
                </tr>
            </tbody>
        </table>
        <br>
  </div>
<!-- partial -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
